@import url(http://fonts.googleapis.com/css?family=Jacques+Francois);
@import url(http://fonts.googleapis.com/css?family=Almendra+SC);

/*---Body---*/
body{
  background-color: black;
}

/*---Treasure Tracking Box---*/
#leftbox{
  position: absolute;
  left: 0;
  width: 20%;
  color: white;
  font-family: 'Jacques Francois', serif;
  padding: 10px;
}

h1{
  font-family: 'Almendra SC', serif;
  font-size: 1.5em;
  height: 35px;
  line-height: 35px;
  color: white;
  margin: 0px;
}

#lefthalf, #righthalf{
  float: left;
  width: 45%;
}

#righthalf{
  margin-left: 10%;
}

.treasureLine{
  background-repeat: no-repeat;
  background-size: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 1.2em;
  padding-left: 30px;
  margin-bottom: 2px;
}

.trapLine{
  height: 24px;
  line-height: 24px;
  font-size: 2em;
  margin-bottom: 12px;
}

#green{
  color: rgba(0, 255, 0, 0.7);
}

#blue{
  color: rgba(0, 0, 255, 0.7);
}

#red{
  color: rgba(255, 0, 0, 0.7);
}

#coppercoin{
  background-image: url('/img/treasure/coppercoin.png');
}

#copperbar{
  background-image: url('/img/treasure/copperbar.png');
}

#silvercoin{
  background-image: url('/img/treasure/silvercoin.png');
}

#silverbar{
  background-image: url('/img/treasure/silverbar.png');
}

#goldcoin{
  background-image: url('/img/treasure/goldcoin.png');
}

#goldbar{
  background-image: url('/img/treasure/goldbar.png');
}

#art1{
  background-image: url('/img/treasure/art1.png');
}

#art2{
  background-image: url('/img/treasure/art2.png');
}

#art3{
  background-image: url('/img/treasure/art3.png');
}

#art4{
  background-image: url('/img/treasure/art4.png');
}

#art5{
  background-image: url('/img/treasure/art5.png');
}

#art6{
  background-image: url('/img/treasure/art6.png');
}

#art7{
  background-image: url('/img/treasure/art7.png');
}

#art8{
  background-image: url('/img/treasure/art8.png');
}

#art9{
  background-image: url('/img/treasure/art9.png');
}

#art10{
  background-image: url('/img/treasure/art10.png');
}

#ruby1{
  background-image: url('/img/treasure/ruby1.png');
}

#ruby2{
  background-image: url('/img/treasure/ruby2.png');
}

#ruby3{
  background-image: url('/img/treasure/ruby3.png');
}

#ruby4{
  background-image: url('/img/treasure/ruby4.png');
}

#ruby5{
  background-image: url('/img/treasure/ruby5.png');
}

#ruby6{
  background-image: url('/img/treasure/ruby6.png');
}

#ruby7{
  background-image: url('/img/treasure/ruby7.png');
}

#ruby8{
  background-image: url('/img/treasure/ruby8.png');
}

/*---Canvas Styling---*/
#wrapper{
  text-align: center;
  padding: 20px;
}

#game{
  background-color: black;
}
