@import url(http://fonts.googleapis.com/css?family=Jacques+Francois);
@import url(http://fonts.googleapis.com/css?family=Almendra+SC);

/*---Body---*/
body{
  background-color: black;
}

/*---Treasure Tracking Box---*/
#leftbox{
  position: absolute;
  left: 0;
  width: 20%;
  color: white;
  font-family: 'Jacques Francois', serif;
  padding: 10px;
}

h1{
  font-family: 'Almendra SC', serif;
  font-size: 1.5em;
  height: 35px;
  line-height: 35px;
  color: white;
  margin: 0px;
}

#lefthalf, #righthalf{
  float: left;
  width: 45%;
}

#righthalf{
  margin-left: 10%;
}

.treasureLine{
  background-repeat: no-repeat;
  background-size: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 1.2em;
  padding-left: 30px;
  margin-bottom: 2px;
}

.trapLine{
  height: 24px;
  line-height: 24px;
  font-size: 2em;
  margin-bottom: 12px;
}

#green{
  color: rgba(0, 255, 0, 0.7);
}

#blue{
  color: rgba(0, 0, 255, 0.7);
}

#red{
  color: rgba(255, 0, 0, 0.7);
}

#a1{
  background-image: url('/img/weapons/a1.png');
}

#a2{
  background-image: url('/img/weapons/a2.png');
}

#b1{
  background-image: url('/img/weapons/b1.png');
}

#b2{
  background-image: url('/img/weapons/b2.png');
}

#c1{
  background-image: url('/img/weapons/c1.png');
}

#c2{
  background-image: url('/img/weapons/c2.png');
}

#d1{
  background-image: url('/img/weapons/d1.png');
}

#d2{
  background-image: url('/img/weapons/d2.png');
}

#d3{
  background-image: url('/img/weapons/d3.png');
}

#d4{
  background-image: url('/img/weapons/d4.png');
}

#d5{
  background-image: url('/img/weapons/d5.png');
}

#d6{
  background-image: url('/img/weapons/d6.png');
}

#d7{
  background-image: url('/img/weapons/d7.png');
}

#d8{
  background-image: url('/img/weapons/d8.png');
}

#d9{
  background-image: url('/img/weapons/d9.png');
}

#d10{
  background-image: url('/img/weapons/d10.png');
}

#e1{
  background-image: url('/img/weapons/e1.png');
}

#e2{
  background-image: url('/img/weapons/e2.png');
}

#e3{
  background-image: url('/img/weapons/e3.png');
}

#e4{
  background-image: url('/img/weapons/e4.png');
}

#e5{
  background-image: url('/img/weapons/e5.png');
}

#e6{
  background-image: url('/img/weapons/e6.png');
}

#e7{
  background-image: url('/img/weapons/e7.png');
}

#e8{
  background-image: url('/img/weapons/e8.png');
}

/*---Canvas Styling---*/
#wrapper{
  text-align: center;
  padding: 20px;
}

#game{
  background-color: black;
}

#startOptions{
  width: 40%;
  margin: auto;
}

select{
  margin: 0px;
}

#torchmode{
  background-image: url('/img/misc/torchlit.png');
  background-repeat: no-repeat;
  height: 40px;
  line-height: 40px;
  color: white;
  font-family: 'Jacques Francois', serif;
  cursor: pointer;
  margin: 10px;
}
