extends ../shared/template

block content
  header
    h1 Trapfinder
    h3 Alone in the Dark
  p Beneath the earth, the dungeon is waiting for you. Perhaps it holds ancient treasure; perhaps it has some religious significance; perhaps it has strategic value in the endless wars that rage across the land of New Arcentis. Or perhaps some soft-handed lord safe in his castle has simply decreed that this boil on his holdings be lanced. Ultimately, it's no concern of yours--
  h4 you're a trapfinder, and you're going to get the job done.
  p Welcome to Trapfinder: Alone in the Dark, a game of courage, reflexes, and a whole lot of luck. You play a trapfinder, hired by those who value their lives above yours to be the vanguard of their next dungeon expedition. Your job is to enter the dungeon alone, armed only with your torch and your tools, and discover and disarm any traps that might be lurking there. Your reward? Any treasure you chance upon in the depths is yours to keep. That may seem generous, but don't worry-- your patrons will surely take good care of any trinkets they find on your arrow-riddled corpse.
